<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->
  
   <appSettings>
        <!-- Auth config -->
        <add key="oauth.RedirectUrl" value="http://localhost:53431/tenant/tenantdashboard/" />
        <!-- Should match with OAuth2's App Callback URL -->
        <add key="oauth.CallbackUrl" value="http://localhost:8000/auth/{0}" />
        <!-- Create Twitter App at: https://dev.twitter.com/apps -->
        <add key="oauth.twitter.ConsumerKey" value="6G9gaYo7DMx1OHYRAcpmkPfvu" />
        <add key="oauth.twitter.ConsumerSecret" value="Jx8uUIPeo5D0agjUnqkKHGQ4o6zTrwze9EcLtjDlOgLnuBaf9x" />
        <!-- Create Facebook App at: https://developers.facebook.com/apps -->
        <add key="oauth.facebook.Permissions" value="email" />
        <add key="oauth.facebook.AppId" value="151550788692231" />
        <add key="oauth.facebook.AppSecret" value="94ec1a04342e5cf7e7a971f2eb7ad7bc" />
        <!--Create GitHub App at: https://github.com/settings/applications/new -->
        <add key="oauth.github.Scopes" value="user" />
        <add key="oauth.github.ClientId" value="4504eefeb8f027c810dd" />
        <add key="oauth.github.ClientSecret" value="d9c1c956a9fddd089798e0031851e93a8d0e5cc6" />

        <!-- Create App https://oauth.yandex.ru/client/new  -->
        <add key="oauth.Yandex.AppId" value="4a453a7d9d594ad59233a075fefc244d" />
        <add key="oauth.Yandex.AppPassword" value="233973486c4c49c9952472503bf98d5e" />

        <!-- Create App http://vk.com/editapp?act=create -->
        <add key="oauth.vkcom.ApplicationId" value="4372582" />
        <add key="oauth.vkcom.SecureKey" value="beCFl4Pz6FOQf3iBlDxB" />
        <add key="oauth.vkcom.Scope" value="friends,offline" />
        <add key="oauth.vkcom.ApiVersion" value="5.21" />

        <add key="jwt.AuthKeyBase64" value="w85nuoW3GxKFpfG7YTmG2f1Lslcl3k5AFEOxvyi2EGM=" />
        <add key="jwt.RequireSecureConnection" value="false" />
        <add key="apikey.RequireSecureConnection" value="false" />
    </appSettings>  
      
    
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore requestTimeout="00:20:00" processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="true" stdoutLogFile="..\..\LogFiles\stdout" forwardWindowsAuthToken="false" />
    <!--<aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/> -->
    <rewrite>
      <rules>
        <rule name="Force HTTPS" enabled="true">
          <match url="(.*)" ignoreCase="false" />
          <conditions>
            <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <httpRuntime executionTimeout="00:10:00" maxRequestLength="2147483647" />
  </system.web>
</configuration>