@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>


    <link href="jquery.toolbar.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/5eb5791954.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="jquery.toolbar.js"></script>
</head>
<body>
    <div id='toolbar-options' class='hidden'>
        <a href='#'><i class='fa fa-plane'></i></a>
        <a href='#'><i class='fa fa-car'></i></a>
        <a href='#'><i class='fa fa-bicycle'></i></a>
    </div>
    <div id="button" class="btn-toolbar btn-toolbar-warning fa fa-plane"></div>
    <div id="button" class="btn-toolbar btn-toolbar-warning fa fa-code"></div>
    <div id="button" class="btn-toolbar btn-toolbar-warning fa fa-canvas"></div>
    <div id="button" class="btn-toolbar btn-toolbar-warning fa fa-capitalize"></div>
    <div id="button" class="btn-toolbar btn-toolbar-warning fa fa-googleapis"></div>
</body>

</html>
<script>
    $('#button').toolbar({
        content: '#toolbar-options',
		position: 'bottom',
		style: 'primary'
    });
</script>