@using ServiceStack;
@using ExpressBase.UI;



@{ 
    string html = string.Empty;

    var id = Convert.ToInt32(ViewBag.FormId);

    //var client = new ProtoBufServiceClient("http://localhost:53125/");
    //var fr = client.Get<FormResponse>(new FormRequest { Id = id });

    IServiceClient client = new JsonServiceClient("http://localhost:53125/").WithCache();
    var fr = client.Get<FormResponse>(new FormRequest { Id = id });

    if (fr.Forms.Count > 0)
    {
        var _form = fr.Forms[0].EbObject;

        foreach (EbObject c in _form.Controls)
        {
            html += c.GetHtml();
        }
    }
}

<div>
    @Html.Raw(html)
</div>

