@using ServiceStack;
@using ExpressBase.UI;
@using ExpressBase.Common;

@{ 
    string html = string.Empty;

    var id = Convert.ToInt32(ViewBag.FormId);

    //var client = new ProtoBufServiceClient("http://localhost:53125/");
    //var fr = client.Get<FormResponse>(new FormRequest { Id = id });

    IServiceClient client = new JsonServiceClient("http://localhost:53125/").WithCache();
    var fr = client.Get<EbObjectResponse>(new EbObjectRequest { Id = id });

    if (fr.Data.Count > 0)
    {
        var _form = EbSerializers.ProtoBuf_DeSerialize<EbControl>(fr.Data[0].Bytea);
        html += string.Format("<h2>{0}</h2>", _form.Label);

        foreach (EbControl c in _form.Controls)
        {
            html += c.GetHtml();
        }
    }
}

@Html.Raw(html)


